h2{
  margin-left: 20px;
}
a:hover{
  color: rgb(255, 197, 227);
}

.body-wrapper{
  display: -webkit-flex;
  display: flex;

  position: absolute;
  width: 100%;
}

.body-wrapper #p5sketch{
  width: 60%;
  height: 100%;
}


.body-wrapper .main{
  width: 40%;
  background: #fff;
  text-align: center;
  position: absolute;
  left: 60%;
  padding-bottom: 20px;
}
.chatchcopy{
  /* font-size: 1rem; */
  padding: 2em 0px;
}

#p5sketch{
  position: fixed;
}
#p5sketch canvas{
  /*position:fixed;*/
  top:0;
  left:0;
  z-index: 3;
  width: 100% !important;
  height: 100vh;
}

@media screen and (max-width:960px) {
  .body-wrapper .main{
    width: 600px;
    margin: auto;
    position: static;
  }
  #p5sketch{
    display: none;
  }
}
@media screen and (max-width:640px) {
  .body-wrapper .main{
    width: 100%;
  }
}
/* ここからmainの中身：worksが最初に来ている */
.listimgs > ul > li{
  display: flex;
  display: -webkit-flex;
  padding: 10px;

  position: relative;
  z-index: 1;

  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.listimgs > ul > li:hover{
  background: #eee;
}
.listimgs > ul > li > div:not(.imgwrapper){
  text-align: left;
  width: calc(100% - 150px - 20px);
}
.listimgs > ul > li > div:not(.imgwrapper) > p{
  /* font-size: 1.3rem */
}
.listimgs > ul > li > div:not(.imgwrapper) > a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
  z-index: 2;
}
.listimgs > ul > li > div.imgwrapper{
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0px 10px;
}
.listimgs > ul > li > .imgwrapper > img{
  width: 150px;
  height: 150px;
  object-fit: cover;

  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.listimgs > ul > li:hover > .imgwrapper > img{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#award + div > ul{
  padding-left: 20px;
}
#award + div > ul > li{
  text-align: left;
  border-left: solid 2px #eee;
  padding: 0em 0.5em;
  margin: 5px 0;
}
