<section class="body-wrapper fromtop">
    <div id = "p5sketch">
    </div>
    <div class="main">
        <h1>塙克樹のプロフィールサイト</h1>
        <div class="chatchcopy">
            <p>テクノロジーでもっと心地よく生きられる世界を</p>
        </div>
        <h2 id="about">About</h2>
        <div>
            <p>ベンチャー企業のエンジニア<br>
            プログラミングが大好き<br>
            イラストや美味しいものを食べるのも好き</p>
            <a href="/about">詳しく見る</a>
            <br>
            <a href="http://amzn.asia/5tl8z3X" target="_blank" rel="noopener noreferrer">欲しいものリスト</a>
        </div>
        <h2 id="works">Works</h2>
        <div class="works-contents listimgs">
            <ul>
                <li>
                    <div class="imgwrapper">
                      <img src="/img/gray-switch.jpg" alt="">
                    </div>
                    <div>
                        <p>Gray Switch</p>
                        <a href="/works/grayswitch">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/nowloading2.png" alt="">
                    </div>
                    <div>
                        <p>Now Loading</p>
                        <a href="/works/nowloading">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/tawamure1.jpg" alt="">
                    </div>
                    <div>
                        <p>た（わむ）れまく</p>
                        <a href="/works/tawamure">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/delter.png" alt="">
                    </div>
                    <div>
                        <p>Delter</p>
                        <a href="/works/delter">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/apimapforpersonalize.jpeg" alt="">
                    </div>
                    <div>
                        <p>API map for personalize</p>
                        <a href="/works/apimapforpersonalize">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/sotsuron.png" alt="">
                    </div>
                    <div>
                        <p>磁性シートの磁力制御に基づく積層させた複数紙面への同時描画システム</p>
                        <a href="/works/sotsuron">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/plottage.jpeg" alt="">
                    </div>
                    <div>
                        <p>PLOTtage</p>
                        <a href="/works/plottage">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/sutesute.png" alt="">
                    </div>
                    <div>
                        <p>すてすて</p>
                        <a href="/works/sutesute">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/kaihukai.jpeg" alt="">
                    </div>
                    <div>
                        <p>快不快タイマー</p>
                        <a href="/works/kaihukai">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/hanauta.png" alt="">
                    </div>
                    <div>
                        <p>花歌職人</p>
                        <a href="/works/hanauta">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/windgrass.png" alt="">
                    </div>
                    <div>
                        <p>WindGrass</p>
                        <a href="/works/windgrass">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/chinanago.jpg" alt="">
                    </div>
                    <div>
                        <p>チンアナゴ型ディスプレイ</p>
                        <a href="/works/chinanago">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/whisperspeakers.jpeg" alt="">
                    </div>
                    <div>
                        <p>Whisper Speakers</p>
                        <a href="/works/whisperspeakers">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/granaviimg.PNG" alt="">
                    </div>
                    <div>
                        <p>Gra-Navi</p>
                        <a href="/works/granavi">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <div class="imgwrapper">
                        <img src="/img/dancingwithtwitter.jpg" alt="">
                    </div>
                    <div>
                        <p>Dancing with twitter</p>
                        <a href="/works/dancingwithtwitter">詳しく見る</a>
                    </div>
                </li>
            </ul>
        </div>
        <h2 id="award">Award</h2>
        <div>
            <ul>
                <li>楽天温泉ハッカソン：優勝</li>
                <li>早稲田大学主催第3回アプリケーションコンテスト：若手科学者賞</li>
                <li>電子情報通信学会MVE研究会：MVE賞</li>
                <li>TECH LAB PAAK：TECH LAB PAAK賞</li>
                <li>Fintech Challenge 2016 – Bring Your Own Bank!：ぐるなび賞</li>
                <li>エスキュービジム IoT×お笑いハッカソン：技術があるで賞</li>
                <li>第24回学生CGコンテスト アート部門：ノミネート</li>
                <li>Wired主催Creative Hack Award 2018：ファイナリスト</li>
            </ul>
        </div>
        <h2 id="talk">Talk</h2>
        <div>
            <ul>
                <li><a href="https://youtu.be/DAGpIacIBHk" target="_blank" rel="noopener noreferrer">Rakuten Technology Conference 2014</a></li>
                <li><a href="https://tech.s-cubism.jp/iot/iotconference/#sec-four" target="_blank">S-cubism IoTカンファレンス</a></li>
            </ul>
        </div>
        <h2 id="contacts">Contacts</h2>
        <div>
            <ul>
                <li><a href="https://twitter.com/hungrykirby" target="_blank" rel="noopener noreferrer">Twitter</a></li>
                <li><a href="https://www.facebook.com/hungrykirby" target="_blank" rel="noopener noreferrer">facebook</a></li>
                <li><a href="https://github.com/hungrykirby" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                <li><a href="https://www.wantedly.com/users/10827164" target="_blank" rel="noopener noreferrer">Wantedly</a></li>
            </ul>
        </div>
    </div>
</section>
