<section class="body-wrapper fromtop">
    <div id = "p5sketch">
    </div>
    <div class="main">
        <div class="chatchcopy">
            <p>テクノロジーでもっと心地よく生きられる世界を</p>
        </div>
        <h2 id="about">About</h2>
        <div>
            <p>ベンチャー企業のエンジニア<br>
            プログラミングが大好き<br>
            イラストや美味しいものを食べるのも好き</p>
            <a href="">詳しく見る</a>
        </div>
        <h2 id="works">Works</h2>
        <div class="works-contents listimgs">
            <ul>
                <li>
                    <img src="/img/gray-switch.jpg" alt="">
                    <div>
                        <p>Gray Switch</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/nowloading2.png" alt="">
                    <div>
                        <p>Now Loading</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/tawamure1.jpg" alt="">
                    <div>
                        <p>た（わむ）れまく</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/delter.png" alt="">
                    <div>
                        <p>Delter</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/apimapforpersonalize.jpeg" alt="">
                    <div>
                        <p>API map for personalize</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/sotsuron.png" alt="">
                    <div>
                        <p>磁性シートの磁力制御に基づく積層させた複数紙面への同時描画システム</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/plottage.jpeg" alt="">
                    <div>
                        <p>プロッタージュ</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/sutesute.png" alt="">
                    <div>
                        <p>すてすて</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/kaihukai.jpeg" alt="">
                    <div>
                        <p>快不快タイマー</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/hanauta.png" alt="">
                    <div>
                        <p>花歌職人</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/windgrass.png" alt="">
                    <div>
                        <p>WindGrass</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/noimg.jpg" alt="">
                    <div>
                        <p>チンアナゴ型ディスプレイ</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/whisperspeakers.jpeg" alt="">
                    <div>
                        <p>Whisper Speakers</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/granaviimg.PNG" alt="">
                    <div>
                        <p>Gra-Navi</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
                <li>
                    <img src="/img/noimg.jpg" alt="">
                    <div>
                        <p>Dancing with twitter</p>
                        <a href="">詳しく見る</a>
                    </div>
                </li>
            </ul>
        </div>
        <h2 id="award">Award</h2>
        <div>
            <ul>
                <li>楽天温泉ハッカソン：優勝</li>
                <li>早稲田地図アプリコンテスト：若手科学者賞</li>
                <li>磁性シートの磁力制御に基づく積層させた複数紙面への同時描画システム：MVE賞</li>
                <li>TECH LAB PAAK：TECH LAB PAAK賞</li>
                <li>三菱東京ufj fintech challenge:ぐるなび賞</li>
                <li>エスキュービジム IoT×お笑いハッカソン：技術があるで賞</li>
            </ul>
        </div>
        <h2 id="talk">Talk</h2>
        <div>
            <ul>
                <li><a href="https://youtu.be/DAGpIacIBHk" target="_blank" rel="noopener noreferrer">Rakuten Technology Conference 2014</a></li>
                <li><a href="https://tech.s-cubism.jp/iot/iotconference/#sec-four" target="_blank">S-cubism IoTカンファレンス</a></li>
            </ul>
        </div>
        <h2 id="contacts">Contacts</h2>
        <div>
            <ul>
                <li><a href="https://twitter.com/hungrykirby" target="_blank" rel="noopener noreferrer">Twitter</a></li>
                <li><a href="https://www.facebook.com/hungrykirby" target="_blank" rel="noopener noreferrer">facebook</a></li>
                <li><a href="https://github.com/hungrykirby" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                <li><a href="https://www.wantedly.com/users/10827164" target="_blank" rel="noopener noreferrer">Wantedly</a></li>
            </ul>
        </div>
    </div>
</section>