<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
  <title>carry_hany</title>
  <link rel="stylesheet" href="/style/reset.css" />
  <link rel="stylesheet" href="/style/common.css" />
  <% if @is_top %>
    <link rel="stylesheet" href="/style/index.css">
  <% end %>
</head>

<body>
  <header>
    <h1><a href="/"><%= @title %></a></h1>
    <nav>
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label for="nav-input" id="nav-open"><span></span></label>
      <label for="nav-input" id="nav-close" class="nav-unshown"></label>
      <div id="nav-content">
        <ul>
          <li>About</li>
          <li>Works</li>
          <li>Awards</li>
          <li>Talk</li>
          <li>Contacts</li>
        </ul>
      </div>
    </nav>
  </header>
    <%= yield %>
  <div class="clearfix"></div>
  <footer>
    <address>Copyright(C)塙克樹,Allright Reserved.</address>
  </footer>
  <% if @is_top %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
    <script src="/js/sketch.js"></script>
  <% end %>
</body>
</html>